<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.alexandregpereira.amaro.product">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="amaro.alexandregpereira.com.br"
                    android:path="/products" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="amaro.alexandregpereira.com.br"
                    android:path="/products" />
            </intent-filter>

            <meta-data android:name="default-url"
                android:value="https://amaro.alexandregpereira.com.br/products" />
        </activity>
    </application>

</manifest>
